<!DOCTYPE html>
<html>
    <head>
        <title>Copper Rabbit Dashboard</title>

        <style>
    body {
        font-family: Arial, sans-serif;
        max-width: 900px;
        margin: 40px auto;
        padding: 20px;
    }

    .cards {
    display: flex;
    gap: 15px;
}

.card {
    flex: 1;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
</style>
    </head>
    <body>

        <h1>Copper Rabbit Dashboard</h1>
        <p>Welcome, {{ request.user.username }}</p>
        <p>
            <a href="/accounts/logout/">
                Logout
            </a>
        </p>

        <hr>
        <div class="cards">
            <div class="card">
                <h2>GitHub Status</h2>
                <p>Connected ✅</p>
            </div>

            <div class="card">
                <h2>Webhook Status</h2>
                <p>Active ✅</p>
            </div>

            <div class="card">
                <h2>Gemini Status</h2>
                <p>Ready ✅</p>
            </div>
        </div>
        <hr>

        <div class="card">
            <h2>Recent Reviews</h2>

            {% for review in reviews %}
          <p>
    <a href="/reviews/{{ review.id }}/">
        {{ review.repository }}
        -
        PR #{{ review.pr_number }}
        -
        {{ review.created_at|date:"M d, Y H:i" }}
    </a>
</p>
            {% empty %}
            <p>No reviews yet.</p>
            {% endfor %}
        </div>

    </body>
</html>